<div class="container">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <form class="form-inline">
      Buscar Proyectos en estado: 
    <select name="state"  >
                  <option value="">Buscar por Estado</option>
                  <option value="propuesta">Propuesta</option>
                  <option value="en progreso">En progreso</option>
                  <option value="terminado">Terminado</option>
    </select>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <div class=" table-responsive col-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
    <table class="table  table-sm table-bordered border-dark  table-hover">
      <tr class="table-dark">
        <th>Nombre</th>
        <th>Estado</th>
        <th>Descripción</th>
        <th>Comienzo</th>
        <th>Fin</th>
      </tr>    
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %> </td>
          <td><%= project.state %> </td>
          <td><%= project.description %> </td>
          <td><%= project.starts_on %> </td>
          <td><%= project.ends_on %> </td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <%= link_to "Nuevo Proyecto", projects_new_path, class: "btn btn-primary my-2 "%>
</div>
